<ion-header>
    <ion-toolbar [color]="isRecording ? 'info':'light'">
        <ion-buttons slot="start">
            <ion-menu-button color="primary" menu="first"></ion-menu-button>
        </ion-buttons>

        <ion-title class="titulo">Asistente Inteligente Alzaid</ion-title>

        <ion-buttons slot="end" (click)="perfil()">
            <ion-avatar>
                <img src="{{user.picture}}">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="saludo">¡Hola {{user.name}}!</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-card class="chatbody">
        <ion-content #chatBody>
            <ion-card-content>
                <ng-container *ngFor="let message of messages">
                    <div *ngIf="message.content!='init_chat_saludo'" class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                            'to':   message.sentBy === 'user' }">

                        <!-- <img class="profile_pic" src="{{message.profile_pic}}"> -->
                        <img *ngIf="message.sentBy === 'bot'" class="profile_pic" src="{{message.profile_pic}}">
                        <img *ngIf="message.sentBy === 'user'" class="profile_pic" src="{{user.picture}}">
                        <div *ngIf="message.placeholder">
                            <img class="placeholder" src="../../assets/img/typing.gif">
                        </div>
                        <span class="text">{{ message.content }}</span>

                    </div>
                </ng-container>
            </ion-card-content>
        </ion-content>
    </ion-card>
</ion-content>

<ion-footer>
    <div>

        <ion-row>
            <ion-col size="8">
                <ion-input padding-start type="text" placeholder="Escribe un mensaje" [(ngModel)]="input"></ion-input>
            </ion-col>
            <ion-col size="2">
                <ion-button color="primary" ion-button size="default" (click)="send()">
                    <ion-icon name="send"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button color="success" ion-button size="default" (click)="startListening()">
                    <ion-icon name="mic"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>