<app-header titulo="Indicadores"></app-header>


<ion-toolbar>
    <ion-segment value="1" (ionChange)="segmentChanged($event)" color="primary">
        <ion-segment-button value="1">
            <ion-label>Paciente</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
            <ion-label>Cuidador</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>


<ion-content>
    <ion-item *ngFor="let i of instruments_selected">
        <ion-label>
            <h2>{{i.instrument}}</h2>
            <h3>{{i.title}}</h3>
            <div *ngIf="i.value===1">
                <p class="leve">{{i.current_value}}</p>
            </div>
            <div *ngIf="i.value===2">
                <p class="moderada">{{i.current_value}}</p>
            </div>
            <div *ngIf="i.value===3">
                <p class="alta">{{i.current_value}}</p>
            </div>
        </ion-label>
        <ion-button slot="end" color="primary" shape="round">
            <ion-icon name="list"></ion-icon> Ver
        </ion-button>
        <ion-button slot="end" color="primary" shape="round" routerLink="instrument">
            <ion-icon name="pencil"></ion-icon> Llenar
        </ion-button>
    </ion-item>
</ion-content>